In [1]:
import tensorflow
print(tensorflow.__version__)

2.13.0

In [2]:
import pandas as pd
DF = pd.read_csv('CC_Data.csv', header = 0)
DF.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [3]:
Y = DF.iloc[:,23]
X = DF.iloc[:,0:23]

In [4]:
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)

In [10]:
from tensorflow.keras import Sequential
myNN = Sequential()

In [11]:
n_x = X.shape[1]

from tensorflow.keras.layers import Dense
myNN.add(Dense(10, activation = 'relu', input_shape = (n_x,)))
myNN.add(Dense(10, activation = 'relu'))
myNN.add(Dense(10, activation = 'relu'))
myNN.add(Dense(1, activation = 'sigmoid'))

In [12]:
myNN.compile(optimizer = 'adam', loss = 'binary_crossentropy', 
              metrics=['accuracy'])

In [13]:
from sklearn.model_selection import train_test_split
X_n, X_t, Y_n, Y_t = train_test_split(X, Y, random_state = 100, 
                                      test_size = 0.3)

In [14]:
myNN.fit(X_n, Y_n, epochs = 5)

Epoch 1/5
657/657 [==============================] - 1s 1ms/step - loss: 0.4990 - accuracy: 0.7953
Epoch 2/5
657/657 [==============================] - 1s 1ms/step - loss: 0.4506 - accuracy: 0.8174
Epoch 3/5
657/657 [==============================] - 1s 1ms/step - loss: 0.4430 - accuracy: 0.8193
Epoch 4/5
657/657 [==============================] - 1s 1ms/step - loss: 0.4385 - accuracy: 0.8195
Epoch 5/5
657/657 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.8204

In [17]:
loss, acc = myNN.evaluate(X_t, Y_t, verbose = 0)
print('Accuracy is: ' + str(acc))

Accuracy is: 0.8144444227218628